#navigation { border: 1px solid red;
	width: 200px; }
#navigation ul { margin: 0; padding: 0; }
#navigation li { list-style-type: none; }
#navigation a { 
	padding: 5px; 15px;
	display: block;
	color: white;
	background: red;
	margin-bottom: 1px;
	text-decoration: none;}
#navigation a:hover {background: black;}

