.box 
{ 
	width: 540px;
	color: #fff;
	background: red url(../images/corners.gif) no-repeat 0 0;
}

.inner 
{
	padding: 15px;
	background: url(../images/corners.gif) no-repeat -540px 100%;
}

.box2 
{
	width: 510px;
	padding: 15px;
	color: #fff;
	background: red;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
